{
  "name": "azure",
  "description": "Test plugin that prints its version.",
  "homepage": "https://github.com/vdice/test-plugin",
  "version": "{{ Version }}",
  "spinCompatibility": ">=3.1",
  "license": "Apache-2.0",
  "packages": [
    {
      "os": "linux",
      "arch": "amd64",
      {{#addURLAndSha}}https://s3.amazonaws.com/vdice-test-plugin-bucket/plugin/print-version-{{ Version }}-linux-amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "linux",
      "arch": "aarch64",
      {{#addURLAndSha}}https://s3.amazonaws.com/vdice-test-plugin-bucket/plugin/print-version-{{ Version }}-linux-aarch64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "macos",
      "arch": "aarch64",
      {{#addURLAndSha}}https://s3.amazonaws.com/vdice-test-plugin-bucket/plugin/print-version-{{ Version }}-macos-aarch64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "macos",
      "arch": "amd64",
      {{#addURLAndSha}}https://s3.amazonaws.com/vdice-test-plugin-bucket/plugin/print-version-{{ Version }}-macos-amd64.tar.gz{{/addURLAndSha}}
    },
    {
      "os": "windows",
      "arch": "amd64",
      {{#addURLAndSha}}https://s3.amazonaws.com/vdice-test-plugin-bucket/plugin/print-version-{{ Version }}-windows-amd64.tar.gz{{/addURLAndSha}}
    }
  ]
}